* {
  box-sizing: border-box;
  
}

body {
  width: 905px;
  height: 1000px;
  margin-left: 19%;
  margin-right: 19%;
}

nav {
  overflow: hidden;
  height: 50px;
  margin-bottom: 100px;
}


nav h1 {
  font-family: cursive;
  font-size: 35px;
  font-style: italic;
  
}

nav > ul {
  position: absolute;

}

nav p {
  color: darkgray;
  font-size: 11px;
}

#nav-left > li {
  float: left;
}

#nav-right > ul > li {
  float: right;
}

#title-section {

}

#title-left {
  float: left;
}

#title-right {
  float: right;  
}

#title-h1 {
  font-size: 40px; 
  font-family: sans-serif;
  font-style: bold;
}

#title-left p {
  color: darkgray;
  font-size: 12px;
}

#title-right p {
  color: darkgray;
  font-size: 12px;
}

